<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmers and Consumers Portal</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-image: url('img2.png'); /* Replace with the path to your background image */
      background-size: cover;
      background-position: center;
      background-color: rgba(255, 255, 255, 0.8);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .buttons-container {
      text-align: center;
    }

    #WELCOME {
      text-align: center;
      font-size: 80px;
      font-family: 'cursive', cursive;
      font-weight: bold;
      margin-top: -10%;
      opacity: 100%;
      text-shadow: 2px 2px black;
    }

    #are {
      text-align: center;
      font-family: 'Cormorant Infant', cursive;
      font-weight: bold;
      opacity: 100%;
      padding-top: 1%;
      font-size: 85px;
      text-shadow: 2px 2px black;
    }

    #linebreak {
      display: block;
      margin-bottom: 0.5em;
    }

    .button {
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      padding: 60px 70px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 30px;
    }

    .button:hover {
      background-color: #f8f8ff;
    }
  </style>
</head>
<body>

  <div id="WELCOME">WELCOME TO CROPCONNECT<div id="are"></div>
    <span id="linebreak"></span>
    <a href="/csignin" class="button">Consumers</a>
  </div>

</body>
</html>
