<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Market</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
        }

        section {
            margin: 20px 0;
        }

        h2 {
            color: #4CAF50;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            margin-bottom: 8px;
        }

        input, textarea {
            margin-bottom: 16px;
            padding: 8px;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            border: none;
        }

        button:hover {
            background-color: #45a049;
        }

        #storeDisplay {
            display: none;
            text-align: center;
        }

        #cart {
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .cartItem {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

        .cartItem img {
            max-width: 100px;
            max-height: 100px;
            margin-bottom: 10px;
        }

        .itemName {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <header>
        <h1>Farmers Market</h1>
    </header>

    <section>
        <h2>Create Your Store</h2>
        <form id="storeForm" action="/demo_cartsubmit" method="GET">
            <label for="storeName">Store Name:</label>
            <input type="text" id="storeName" name="storeName" required>

            <label for="ownerName">Your Name:</label>
            <input type="text" id="ownerName" name="ownerName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="storeDescription">Store Description:</label>
            <textarea id="storeDescription" name="storeDescription" rows="4" required></textarea>

            <label for="groceries">Add Groceries (comma-separated):</label>
            <textarea id="groceries" name="groceries" rows="4" required></textarea>

            <button type="submit">Create Store</button>
        </form>
    </section>

    <section id="storeDisplay">
        <h2>Your Store: <span id="storeNameDisplay"></span></h2>
        <p id="storeDescriptionDisplay"></p>
        <div id="cart"></div>
    </section>



</body>
</html>