<!DOCTYPE html>
<html lang="en">
<head>
    <title>signup</title>
    <style>
        body
        {
            margin:0;
            padding:0;
            background: url(img1.png);
            background-position: center;
            background-size: cover;
            text-align: right;
            font-family: sans-serif;
            
        }
        .loginbox
        {
            width: 320px;
            height:420px;
            background:lavenderblush;
            color:black;
            top:50%;
            left:50%;
            position:absolute;
            transform:translate(-50%,-50%);
            box-sizing: border-box;
            border:2px;
            border-style: double;
            border-color:lavenderblush;
            border-radius: 20px;
            text-align: center;
            padding:20px 20px;
        }
        .loginbox p
        {
            margin:0;
            padding:0;
            font-weight: bold;
        }
        .loginbox input{
            width:150px;
            margin-bottom: 20px;
        }
        .loginbox input[type="text"],input[type="Email"],input[type="password"]
        {
            border:none;
            border-bottom: 1px solid black;
            background:transparent;
            outline: none;
            height:40px;
            color:black;
            font-size:16px;
        }

       
        .loginbox input[type="Submit"]
        {
            border:none;
            outline: none;
            height:40px;
            background:cornflowerblue;
            color:#fff;
            border-radius: 20px;
            

        }
        .loginbox a{
            text-decoration:none;
            font-size:12px;
            line-height:20px;
            color:black;
        }
        .loginbox a:hover{
            color:green;
        }
        h1
        {
            margin:0;
            padding:0 0 20px;
            text-align: center;
            font-size:22px;

        }
    </style>
    </head>
    <body>
        <div>
        <div class="loginbox">
            <h1>Customer Signup</h1><br><br>
            <form  action="/csignupsubmit" method="GET">
                <p>Name</p>
                <input type="text" name="Name"><br>
                <p>Email</p>
                <input type="Email" name="Email"><br>
                <p>Password</p>
                <input type="password" name="password"><br><br>
                <input type="Submit" value="csignup"><br><br>
                <p>Already a member<a href="http://localhost:3000/signin">Signin</a></p>
            </form>