<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Registration - CropConnect</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
      }
  
      form {
        max-width: 600px;
        margin: 0 auto;
      }
  
      label {
        display: block;
        margin: 10px 0 5px;
        color: #555;
      }
  
      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
  
      button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
  
      button:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  
    </style>
    </head>
    <body>
        <div>
        <div class="loginbox">
            <h1>Farmer Signup</h1><br><br>
            <form  action="/fsignupsubmit" method="GET">
              <p>Contact Number:</p>
    <input type="tel" name="contactNumber" required>

    <p>Address:</p>
    <input type="text"  name="address" required>

    <!-- Farm Information -->
    <p>Farm Name:</p>
    <input type="text" name="farmName" required>

    <p>Farm Location:</p>
    <input type="text" name="farmLocation" required>

    <p>Type of Farming:</p>
    <input type="text"  name="farmType" required>

    <p>Farm Size:</p>
    <input type="text" name="farmSize" required>

    <p>Crops/Livestock Raised:</p>
    <input type="text"  name="cropsLivestock" required>

    <!-- Product Details -->
    <p>Product Description:</p>
    <textarea id="productDescription" name="productDescription" rows="4" required></textarea>

    <p>Quantity Available:</p>
    <input type="number"  name="quantity" required>

    <p>Price:</p>
    <input type="text" name="price" required>

                <p>Name</p>
                <input type="text" name="Name"><br>
                <p>Email</p>
                <input type="Email" name="Email"><br>
                <p>Password</p>
                <input type="password" name="password"><br><br>
                <input type="Submit" value="signup"><br><br>
                <p>Already a member<a href="http://localhost:3000/signin">Signin</a></p>
            </form>