<html>
		<head>
			<title>CropConnect</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width" initial-scale=1>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		</head>
		<style>
			div{
				color: black;
				text-align: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			img{
				height: 200px;
                width: 180px;
				padding-bottom: 20px;
			}
			button{
				margin-top: 10px;
			}
		</style>
        <body>
			<div class="container mt-3">
				<div class="row" >
					<div class="col-lg-1"><i class="bi bi-list" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-house-door-fill" style="font-size: 2rem;"></i></div>
					<div class="col-lg-8"><h2 class="display-6" style="color:blueviolet;font-weight:500;">CropConnect</h2></div>
					<div class="col-lg-1"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-cart-fill" style="font-size: 2rem;"></i></div>
				</div><br>
				<br><br>
				
                <div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="h1.png">
						<b><br>wheat</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="50/-"><del><small>1500/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Wheat">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="h2.png" >
						<b><br>Grains</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="100/-"><del><small>1350/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Grains">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h3.png" >
						<b><br>Bread</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="50/-"><del><small>1000/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Bread">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h4.png">
						<b><br>pulses</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="75/-"><del><small>900/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Pulses">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h5.png" >
						<b><br>soyabean</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="60/-"><del><small>800/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Soyabean">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h6.png" >
						<b><br>Barley</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="70/-"><del><small>850/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Barley">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h7.png" >
						<b><br>Rye</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="80/-"><del><small>870/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Rye">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h8.png">
						<b><br>kamut</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="100/-"><del><small>990/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Kamut">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="h9.png">
						<b><br>spelt</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="80/-"><del><small>1200/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Spelt">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
                </div><br><br>
                <form action="cart" method="GET">
					<center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="View Cart"></center>
				  </form>
				
				<!--<form action="cart" method="GET">
					<center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center>
				</form><br><br>-->
            </div>
		</body>
</html>