<html>
		<head>
			<title>Bookaholic</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width" initial-scale=1>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		</head>
		<style>
			div{
				color: black;
				text-align: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			img{
				height: 200px;
                width: 180px;
				padding-bottom: 20px;
			}
			button{
				margin-top: 10px;
			}
		</style>
        <body>
			<div class="container mt-3">
				<div class="row" >
					<div class="col-lg-1"><i class="bi bi-list" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-house-door-fill" style="font-size: 2rem;"></i></div>
					<div class="col-lg-8"><h2 class="display-6" style="color:blueviolet;font-weight:500;">Bookaholic</h2></div>
					<div class="col-lg-1"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-cart-fill" style="font-size: 2rem;"></i></div>
				</div><br>
                <div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="v1.jpeg">
						<b><br>Tomato</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="60/-"><del><small>1500/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Tomato">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="v2.jpg" >
						<b><br>Ladies Finger</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="70/-"><del><small>1350/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Ladies Finger">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v3.jpg" >
						<b><br>potato</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="99/-"><del><small>1000/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="potato">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v5.png">
						<b><br>cucumber</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="79/-"><del><small>900/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="cucumber">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v12.png" >
						<b><br>Cauliflower</b><br>
						<form action="=add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="64/-"><del><small>800/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Cauliflower">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v7.webp" >
						<b><br>Brinjal</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="79/-"><del><small>850/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Brinjal">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v13.png" >
						<b><br>Onion</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="80/-"><del><small>870/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Onion">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v9.jpg">
						<b><br>Broad Beans</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="90/-"><del><small>990/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Broad Beans">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="v11.png">
						<b><br>Cabbage</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="99/-"><del><small>1200/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Cabbage">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
                </div><br><br>
                <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="View Cart"></center>
                  </form>
            </div>
		</body>

</html>