<html>
		<head>
			<title>Bookaholic</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width" initial-scale=1>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		</head>
		<style>
			div{
				color: black;
				text-align: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			img{
				height: 200px;
                width: 180px;
				padding-bottom: 20px;
			}
			button{
				margin-top: 10px;
			}
		</style>
        <body>
			<div class="container mt-3">
				<div class="row" >
					<div class="col-lg-1"><i class="bi bi-list" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-house-door-fill" style="font-size: 2rem;"></i></div>
					<div class="col-lg-8"><h2 class="display-6" style="color:blueviolet;font-weight:500;">Bookaholic</h2></div>
					<div class="col-lg-1"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-cart-fill" style="font-size: 2rem;"></i></div>
				</div><br>
                <div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="f1.jpg">
						<b><br>Cherry</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="860/-"><del><small>80/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Cherry">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="f4.jpg" >
						<b><br>Orange</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="700/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Orange">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f5.jpg" >
						<b><br>WaterMelon</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="999/-"><del><small>100/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="WaterMelon">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f7.jpg">
						<b><br>papaya</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="799/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="papaya">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f8.jpeg" >
						<b><br>Guava</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="649/-"><del><small>80/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Guava">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f12.jpg" >
						<b><br>Custard apple</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="799/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="custard apple">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f13.jpg" >
						<b><br>banana</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="800/-"><del><small>70/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="banana">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f14.png">
						<b><br>Berries</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="900/-"><del><small>90/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Berries">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="f15.png">
						<b><br>Strawberry</b><br>
						<form action="add_adv_ToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="999/-"><del><small>120/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Strawberry">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
                </div>
                <form action="cart" method="GET">
                    <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="View Cart"></center>
                  </form>
            </div>    
		</body>

</html>