

<!DOCTYPE html>
<html>
<head>
 <title>Cards</title>
</head>

<style type="text/css">


*{
 margin: 0px;
 padding: 0px;
}
body{
 font-family: arial;
}
.main{

 margin: 2%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

</style>
<body>

<div class="main">

 <!--cards -->
 <h1>Welcome to CropConnect</h1>

<div class="card">

<div class="image">
   <img src="s1.png">
</div>
<div class="title">
 <h1>
Ravi Grain store</h1>
</div>
<div class="des">
 <p>Wheat,pulses available here</p>
 <form id="storeForm" action="/store1submit" method="GET">

    <div class="des">
    
    <button>Go to Store</button>
    </div>
    </form>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="s2.png">
</div>
<div class="title">
 <h1>Ram Fruits shop</h1>
</div>
<form id="storeForm" action="/store2submit" method="GET">

<div class="des">
 <p>All kinds are available here</p>
<button>Go to store</button>
</div>
</form>
</div>
<!--cards -->

<div class="card">

    <div class="image">
       <img src="s3.png">
    </div>
    <div class="title">
     <h1>Sri lakshmi veggies shop</h1>
    </div>
    <form id="storeForm" action="/store3submit" method="GET">
    
    <div class="des">
     <p>All fresh vegetables available here</p>
    <button>Go to store</button>
    </div>
    </form>
    </div>
<!--cards -->

<div class="card">

    <div class="image">
       <img src="s4.png">
    </div>
    <div class="title">
     <h1>Atul Dairy</h1>
    </div>
    <form id="storeForm" action="/store4submit" method="GET">
    
    <div class="des">
     <p>All dairy products are available here</p>
    <button>Go to store</button>
    </div>
    </form>
    </div>
    <form action="cart" method="GET">
        <center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="View Cart"></center>
      </form>
</div>
</div>
</div>
</body>
</html>