<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Market - Store</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
        }

        section {
            margin: 20px 0;
        }

        h2 {
            color: #4CAF50;
        }

        #storeDisplay {
            text-align: center;
        }

        #cart {
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .cartItem {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

        .cartItem img {
            max-width: 100px;
            max-height: 100px;
            margin-bottom: 10px;
        }

        .itemName {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <header>
        <h1>Farmers Market</h1>
    </header>

    <section id="storeDisplay">
        <h2>Your Store: <span id="storeNameDisplay"></span></h2>
        <p id="storeDescriptionDisplay"></p>
        <div id="cart"></div>
    </section>

   <script>
    document.addEventListener('DOMContentLoaded', function () {
        var queryParams = new URLSearchParams(window.location.search);
        var storeName = queryParams.get('storeName');
        var storeDescription = queryParams.get('storeDescription');
        var groceries = queryParams.get('groceries').split(',');

        document.getElementById('storeNameDisplay').innerText = storeName;
        document.getElementById('storeDescriptionDisplay').innerText = storeDescription;

        var cartElement = document.getElementById('cart');
        cartElement.innerHTML = '';

        groceries.forEach(function (item) {
            var itemContainer = document.createElement('div');
            itemContainer.className = 'cartItem';

            var itemImage = document.createElement('img');
            // Replace 'default-image-url' with the actual image URL or leave it blank
            itemImage.src = 'default-image-url';
            itemImage.alt = item.trim() + ' Image';

            var itemName = document.createElement('p');
            itemName.className = 'itemName';
            itemName.innerText = item.trim();
            itemContainer.appendChild(itemName);
            cartElement.appendChild(itemContainer);
        });
    });
</script>


</body>
</html>
